@import '../variables';
@import '../button'; 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid $biege;
  
    .headerLeft {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      h3 {
        text-transform: uppercase;
      }
  
      img {
        margin-right: 15px;
      }
      
      p {
        opacity: .7;
      }
    }
  
    .headerRight {
      display: flex;
      align-items: center;
      
      li {
        cursor: pointer;
      }
  
      li:nth-child(1) {
        display: flex;
        align-items: center;
        margin-right: 25px;
        img {
          margin-right: 5px;
        }
      }
      li:nth-child(2) {
        margin-right: 25px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .headerInfo {
      display: none;
    }
    .headerRight {
      li:nth-child(1) {
        margin-right: 10px;
      }
      li:nth-child(2) {
        margin-right: 10px;
      }
    }
  }